body {
  font-family: 'Open Sans', serif;
}

.container-fluid {
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
}

#open-menu, #close-menu {
  color: white;
  position: absolute;
  font-size: 450%;
  left: 5%;
  top: 5%;
}

#main-menu {
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 200vh;
  z-index: 100;
  background-color: #f15a29;
  color: black;
  left: -200%;
}

#main-menu ul {
  font-size: 300%;
  list-style: none;
}

#main-menu a {
  color: white;
}

.row-header {
  background-image: url(../img/backgrounds/landing.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 15%;
  padding-right: 30%;
  padding-left: 30%;
  margin: 0%;
}

.logo {
  align-items: center;
  margin-top: 10%;
}

.logo-text-1, .logo-text-2 {
  text-align: center;
  color: white;
}

.logo-text-1 {
  margin-top: 20%
}

.logo-text-2 {
  margin-bottom: 0%;
}

#happy-hour, #party-time {
  background-color: lightgrey;
  align-items: center;
  justify-content: center;
  font-size: 250%;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
}

#happy-hour:hover, #party-time:hover {
  color: white;
  background-color: #f15a29;
}

#breakfast {
  background-image: url(../img/foodtop/breakfast.jpg);
}

#lunch {
  background-image: url(../img/foodtop/lunch.jpg);
}

#dinner {
  background-image: url(../img/foodtop/dinner.jpg);
}

#breakfast, #lunch, #dinner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

#breakfast p, #lunch p, #dinner p {
  font-size: 225%;
  font-style: italic;
  padding-top: 25%;
  color: white;
}

#fast-foods {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

#box-fast-food {
  margin-top: 10%;
  margin-bottom: 10%;
}

#fast-food-text {
  text-align: left;
}

.fast-food-h2 {
  margin-top: 20%;
  margin-bottom: 5%;
}

.btn-fast-food {
  border: 2px solid #f15a29;
  background-color: white;
  color: #f15a29;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20%;
}

#drinks {
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 0%;
  margin-right: 0%;
}

#box-drinks {
  margin-top: -30%;
  margin-bottom: 10%;
}

#drinks-text {
  text-align: right;
}

.drinks-h2 {
  margin-top: -25%;
  margin-bottom: 5%;
}

.btn-drinks {
  border: 2px solid #f15a29;
  background-color: white;
  color: #f15a29;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

#gallery-row {
  background-image: url(../img/backgrounds/foodsBg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-left: 30%;
  padding-top: 15%;
  padding-bottom: 15%;
}

#tabs {
  background-color: lightgrey;
  border: 1px solid grey;
  padding-top: 1%;
  padding-bottom: 1%;
  align-items: center;
  justify-content: center;
}

#tabs:hover {
  color: #f15a29;
  background-color: white;
}

#food-row {
  padding-right: 3.5%;
  padding-left: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background-color: white;
}

#food-row p {
  color: #f15a29;
}

.box {
  padding-left: 200%;
  background-color: white;
  padding: 0%;
}

#customers {
  padding: 2.5%;
}

#customers h4 {
  color: #f15a29;
}

#happy-customers {
  padding: 2.5%;
}

#about-menu {
  padding: 2.5%;
}

#subscription-menu {
  background-image: url(../img/backgrounds/subscribe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 10%;
  padding-bottom: 10%;
  margin-bottom: -5%;
}

.sub-menu-text {
  color: white;
  margin-bottom: 2.5%;
  margin-left: 30%;
}

.gallery {
  background-image: url(../img/backgrounds/foodsBg.jpg);
}

.email {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-left: 30%;
  padding-top: 2px;
  padding-bottom: 1px;
  font-size: 20px;
}

.subscribe-btn {
  border: 2px solid #f15a29;
  background-color: #f15a29;
  align-content: center;
  justify-content: center;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 1px;
  padding-bottom: 2px;
  font-size: 20px;
  cursor: pointer;
}

footer {
  background-color: #f15a29;
  padding-top: 2.5%;
  position: relative;
  color: white;
  margin: 0%;
}

.footer-logo {
  margin-left: 0%;
}

#footnote h2 {
  padding-left: 30%;
}

.img1 {
  margin-left: 31%;
  s
}

.footer-text-1 {
  color: white;
  margin-bottom: 5%;
  padding-left: 25%;
}

.footer-text-2 {
  color: white;
  margin-top: 10%;
  padding-left: 28%;
}
